---
import Layout from "../layouts/Layout.astro";
import Cava from "../components/Cava.astro";
import { getCollection } from "astro:content";

const recentPosts = (await getCollection("posts"))
    .map((p) => p.data)
    .sort((a, b) => b.pubDate.getTime() - a.pubDate.getTime())
    .slice(5);
---

<Layout>
    <div box-="square">
        <p>Hello world!</p>
    </div>

    <Cava />
</Layout>
