<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet"
        />
        <link
            rel="icon"
            href="https://avatars.githubusercontent.com/u/92603490"
        />
        <title>mkuritsu</title>
    </head>
    <body>
        <div class="container">
            <div class="profile-container">
                <img
                    class="profile-image"
                    src="https://avatars.githubusercontent.com/u/92603490"
                    alt="profile picture"
                />
                <p class="profile-name">mkuritsu</p>
            </div>
            <div class="about-container">
                <div class="about-text-container">
                    <p>Welcome to my little corner in the internet</p>
                    <ul class="text-list">
                        <li>1st year MSC in Computer Science</li>
                        <li>Passionate about software and computers</li>
                        <li>
                            Special interest in distributed systems, low level
                            stuff, cybersecurity and game engines
                        </li>
                        <li>Loves gaming and anime</li>
                        <li>Use NixOS btw</li>
                    </ul>
                </div>
                <div class="link-icon-container">
                    <a class="link-icon" href="https://github.com/mkuritsu">
                        <img src="images/github-logo.svg" alt="github" />
                    </a>
                    <a class="link-icon" href="https://twitter.com/mkuritsuu">
                        <img src="images/x-logo.png" alt="x" />
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
<style>
    html,
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        font-family: "Roboto";
    }

    body {
        display: flex;
    }

    .container {
        background-color: #3d3d3d;
        width: 800px;
        height: 500px;
        margin: auto;
        display: flex;
        border-radius: 30px;
        overflow: hidden;
        filter: drop-shadow(0 0 0.5rem black);
    }

    .profile-container {
        background-color: #242424;
        width: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .profile-image {
        border-radius: 50%;
        aspect-ratio: 1/1;
        width: 60%;
    }

    .profile-name {
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
        margin: 1.2rem 0 0 0;
    }

    .about-container {
        background-color: #3d3d3d;
        width: 65%;
        height: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .about-text-container {
        color: white;
        font-size: 1.1rem;
        padding: 1rem;
    }

    .about-text-container > p {
        margin: 0;
    }

    .text-list {
        margin: 0;
        padding: 1em 0 0 1.7em;
    }

    .text-list > li {
        margin-top: 0.5rem;
    }

    .link-icon-container {
        border-top-style: solid;
        border-image: linear-gradient(to right, #00dbde, #fc00ff) 50;
        border-top-width: 2px;
        padding-top: 0.7rem;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .link-icon {
        padding: 0;
        margin: 0;
        width: 30px;
        height: 30px;
    }

    .link-icon > img {
        width: 100%;
        height: 100%;
        filter: grayscale(100%);
        cursor: pointer;
        transition:
            filter 0.3s linear,
            transform 0.5s ease;
    }

    .link-icon > img:hover {
        filter: grayscale(0%);
        transform: scale(1.2);
    }

    @media (max-width: 799px) {
        .container {
            width: 600px;
            height: 300px;
        }

        .about-text-container {
            font-size: 0.9rem;
        }
    }

    @media (max-width: 599px) {
        .container {
            flex-direction: column;
            width: 90%;
            height: 500px;
        }

        .profile-container {
            width: 100%;
            height: 300px;
        }

        .profile-image {
            width: 100px;
        }

        .about-container {
            width: 100%;
            height: 100%;
            padding-right: 2rem;
            padding-left: 2rem;
        }
    }
</style>
