---
import Layout from "../layouts/Layout.astro";
import NoContent from "src/components/NoContent.astro";
---

<Layout>
    <main>
        <NoContent />
    </main>
</Layout>
<style>
    main {
        margin-top: 10ch;
    }
</style>
