@layer base, utils, components;

@import "@webtui/css/base.css";

/* Utils */
@import "@webtui/css/utils/box.css";

/* Components */
@import "@webtui/css/components/typography.css";
@import "@webtui/css/components/button.css";
@import "@webtui/css/components/badge.css";
@import '@webtui/css/components/progress.css';

@import "@webtui/theme-catppuccin";

@import "@webtui/plugin-nf";

@layer base {
    :root {
        --font-family: Menlo, Monaco, monospace, "Symbols Nerd Font";
    }
}

#nf-fa-external_link::before {
    content: "\f08e";
}

#nf-fa-twitter::before {
    content: "\f099";
}

#nf-md-github::before {
    content: "\e65b";
}

#nf-fa-discord::before {
    content: "\f1ff"
}
