---
import NavBar from "../components/NavBar.astro";
---

<html lang="en" data-webtui-theme="catppuccin">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
            rel="stylesheet"
        />
        <link
            rel="icon"
            href="https://avatars.githubusercontent.com/u/92603490"
        />
        <title>mkuritsu</title>
    </head>
    <body>
        <NavBar />
        <slot />
    </body>
</html>
<style is:global>
    @import "../global.css";
</style>
